.weather__current--container {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: nowrap;
}
.weather__current--status {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}
.weather__current--img {
  position: relative;
  width: 50%;
  height: 180px;
}

.weather__current--status-container {
  display: flex;
  gap: 0.5rem;
}

.weather__current--temp {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  text-align: end;
}
.weather__current--apptemp {
  font-style: italic;
  text-align: center;
}

.weather__current--unit {
  font-size: 1.5rem;
}

.weather__current--misc-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  grid-template-rows: repeat(3, minmax(50px, 1fr));
  font-size: 1.15rem;
}

.weather__current--misc-icon {
  flex-basis: 35px;
  color: black;
}

.weather__current--misc-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid white;
}

.weather__current--misc-item:nth-last-child(1),
.weather__current--misc-item:nth-last-child(2) {
  border: none;
}

.weather__current--misc-title {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 0.5rem;
}
/* xl */
@media (max-width: 1280px) {
  .weather__current--misc-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .weather__current--misc-title {
    gap: 0;
  }

  .weather__current--misc-icon {
    flex-basis: 32px;
  }
}
/* lg */
@media (max-width: 1024px) {
  .weather__current--misc-container {
    font-size: 1rem;
  }

  .weather__current--temp {
    font-size: 3rem;
  }
}
/* md */
@media (max-width: 768px) {
  .weather__current--misc-item {
    padding: 0.75rem;
  }
}
/* sm */
@media (max-width: 640px) {
  .weather__current--misc-item {
    padding: 0.5rem;
  }

  .weather__current--img {
    height: 100px;
  }
}
