.weather__hourly--container {
  display: grid;
  grid-template-columns: repeat(7, minmax(60px, 1fr));
  grid-template-rows: repeat(25, 1fr);
  flex: 1;
  max-height: 60dvh;
  overflow-y: auto;
  scrollbar-width: thin;
  justify-items: center;
  align-items: center;
  scroll-snap-type: y mandatory;
}

.weather__hourly--flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-x: auto;
}

.weather__hourly--row {
  display: contents;
  border-bottom: 1px solid lightgray;
}

.weather__hourly--row:last-child {
  border-bottom: none;
}

.weather__hourly--header {
  text-align: center;
}

.weather__hourly--item:first-child {
  border-right: 1px solid white;
  padding: 0.2rem 1rem;
  scroll-snap-align: end;
}

/* md */
@media (max-width: 768px) {
  .weather__hourly--item:first-child {
    padding: 0rem;
  }

  .weather__hourly--item {
    padding-inline: 0.5rem;
  }
}
