@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-weather-info: #292d398d;
    --colors-primary: #715df2c1;
  }

  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .page__title {
    width: 100dvw !important;
    font-size: 5rem;
    color: #fff;
    font-weight: 400;
    user-select: none;
  }

  .attribution {
    font-size: 0.75rem;
    text-align: center;
    margin-top: 5px;
  }

  /* 2xl */
  @media (max-width: 1536px) {
    .page__title {
      font-size: 4rem;
    }
  }
  /* xl */
  @media (max-width: 1280px) {
    .page__title {
      font-size: 4rem;
    }
  }
  /* md */
  @media (max-width: 768px) {
    .page__title {
      font-size: 3rem;
    }
  }
  /* sm */
  @media (max-width: 640px) {
    .page__title {
      font-size: 2rem;
    }
  }
  /* xs */
  @media (max-width: 475px) {
    .page__title {
      font-size: 1.75rem;
    }
  }
}
